<section class="phx-hero">
  <h1>Welcome ASCII canvas read-only client</h1>
  <p>Access one of the routes by going to /canvas/id, where id is one of the desired <a href="/canvas/1">canvas_id</a></p>
</section>
